h1, button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto;
}

body {
  display: grid;
  grid-template-rows: 75px auto 60px;
  height: 100%;
  margin: 0;
  background-color: rgb(97, 163, 205);
}

  header, main, footer {
    display: flex;
  }

    header h1 {
      margin: 0.625rem 0 0 1.5625rem;
      transform: skew(10deg);
      font-size: 4rem;
      color: white;
      text-decoration: underline white;
      transition: 0.2s;
    }

    header h1:hover {
      text-decoration: underline rgb(240, 240, 240);
      color: rgb(240, 240, 240);
    }

  main {
    align-items: center;
    justify-content: center;
  }

    main .tempo-button {
      height: 30rem;
      width: 30rem;
      border-radius: 100%;
      cursor: pointer;
      outline: none;
      border: none;
      box-shadow: 5px 5px 4px 2px rgba(1, 1, 1, 0.1);
      font-size: 3rem;
    }

footer {
  justify-content: flex-end;
}

  footer .social-media {
    display: flex;
    align-items: center;
  }
    
    footer .social-media a {
      margin-right: 5px;
      transition: 0.2s;
    }
    
    footer .social-media a:hover {
      opacity: 0.7;
    }